<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Je suis Manattan WILD, une jeune femme créative, curieuse et désireuse d'en apprendre plus tous les jours. La couture, la cuisine et la musique sont mes motivations dans la vie.</p>
      </div>
      <div class="col-lg-4">
        <p>Actuellement en recherche d'un stage en pâtisserie, je souhaiterais à terme me professionnaliser dans ce domaine. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Mon CV
        </a>
      </div>
    </div>
  </div>
</section>
